<h1 class="text-center mt-3">Packages</h1>
<p class="text-center mx-5 p-2">
  Modern Realty is dedicated to providing innovative and professional real estate services that set a new standard in the industry. Our commitment extends to delivering a comprehensive range of creative offerings tailored to showcase properties in their best light. From captivating photos and intricate detail shots that highlight unique features to breathtaking drone shots that offer a fresh perspective, we leave no detail overlooked. Our inclusion of meticulously crafted floor plans ensures potential buyers gain a comprehensive understanding of the property's layout and flow. Additionally, we employ cutting-edge video production techniques to bring properties to life, allowing clients to immerse themselves in a virtual tour. At Modern Realty, our unwavering dedication to excellence ensures that every aspect of our service is designed to elevate and enrich the real estate experience for both buyers and sellers alike.
</p>
<div class="container">
  <div class="img">
    <%= image_tag('house/house1.jpeg', alt: 'House', width: '500px') %>
  </div>
  <div class="text-section">
    <h3 class="mb-4">Photos</h3>
    <p>Our photos packages are as listed.</p>
    <button type="button" class="btn btn-secondary mt-3" data-bs-toggle="modal" data-bs-target="#photoModal">
      Pricing
    </button>
  </div>
</div>
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="examplefirstModalLabel">Pricing</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Package</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">10 Photos</th>
              <td>$150.00</td>
            </tr>
            <tr>
              <th scope="row">20 Photos</th>
              <td>$175.00</td>
            </tr>
            <tr>
              <th scope="row">30 Photos</th>
              <td>$200.00</td>
            </tr>
            <tr>
              <th scope="row">40 Photos</th>
              <td>$225.00</td>
            </tr>
            <tr>
              <th scope="row">50 Photos</th>
              <td>$250.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-section">
    <h3>Detail Shots</h3>
    <p class="mb-3">Our detail shots packages are as listed.</p>
    <button type="button" class="btn btn-secondary mt-3" data-bs-toggle="modal" data-bs-target="#detailModal">
      Pricing
    </button>
  </div>
  <div class="img">
    <%= image_tag('kitchen/kitchen3.jpeg', alt: 'Kitchen', width: '500px') %>
  </div>
</div>
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Pricing</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Package</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">10 Detail Photos</th>
              <td>$50.00</td>
            </tr>
            <tr>
              <th scope="row">20 Detail Photos</th>
              <td>$100.00</td>
            </tr>
            <tr>
              <th scope="row">5 Drone Photos</th>
              <td>$200.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="img">
    <%= image_tag('livingroom/livingroom1.jpeg', alt: 'Livingroom', width: '500px') %>
  </div>
  <div class="text-section">
    <h3>Floor Plans</h3>
    <p>Our detail shots packages are as listed.</p>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#floorModal">
      Pricing
    </button>
  </div>
</div>
<div class="modal fade" id="floorModal" tabindex="-1" aria-labelledby="floorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Pricing</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Package</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Single Floor</th>
              <td>$75.00</td>
            </tr>
            <tr>
              <th scope="row">2 Floors</th>
              <td>$150.00</td>
            </tr>
            <tr>
              <th scope="row">3 Floors</th>
              <td>$200.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--This will be the video -->
<div class="container">
  <div class="text-section">
    <h3>Video</h3>
    <p>We make cutting-edge video content that will elevate your listing, giving buyers a one of a kind perspective.</p>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#videoModal">
      Pricing
    </button>
  </div>

  <div class="video">
    <iframe width="560" height="315" src="<%= @video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Pricing</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Pricing Table -->
          <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col">Package</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Video (non-branded)</th>
                <td>$200.00</td>
              </tr>
              <tr>
                <th scope="row">Video (branded)</th>
                <td>$300.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--this is the headshot-->
<div class="container">
  <div class="img">
    <%= image_tag('headshot.jpeg', alt: 'Headshot', width: '500px') %>
  </div>
  <div class="text-section">
    <h3 class="mb-3">Headshots</h3>
    <p class="mb-3">Our head shots packages are as listed.</p>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#headModal">
      Pricing
    </button>
  </div>
</div>
<div class="modal fade" id="headModal" tabindex="-1" aria-labelledby="headModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Pricing</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Package</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Single Person</th>
              <td>$200.00</td>
            </tr>
            <tr>
              <th scope="row">Group</th>
              <td>Contact for more information.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
