<h2>Our work</h2>
<p class="text-center mx-5 p-2">Over the past years, Modern Realty Studios has proudly produced thousands of stunning photos for real estate listings. Our commitment to excellence and pride in our work shine through in every image we capture. As a trusted partner in the Chicagoland area, we consistently deliver high-quality media that showcases each property with precision and professionalism. Elevate your listings with Modern Realty Studios, where every photo tells a story of dedication and expertise.</p>
<!--Would like video to go here-->
<div class="video d-flex justify-content-center mb-3">
  <iframe width="560" height="315" src="<%= @video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="img d-flex justify-content-center">
<%= image_tag('house/house3.jpeg', alt: 'House', width: '500px') %>
</div>
<!-- Second Video -->
<div class="video d-flex justify-content-center mb-3">
  <iframe width="560" height="315" src="<%= @secondvideo_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="img d-flex justify-content-center">
<%= image_tag('kitchen/kitchen1.jpeg', alt: 'House', width: '500px') %>
</div>
<!-- Third Video -->
<div class="video d-flex justify-content-center mb-3">
  <iframe width="560" height="315" src="<%= @thirdvideo_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="img d-flex justify-content-center">
<%= image_tag('kitchen/kitchen5.jpeg', alt: 'House', width: '500px') %>
</div>
</div>
